In [1]:
from openclean.data.load import stream

df = stream('jt7v-77mi.tsv.gz')

In [2]:
for i, col in enumerate(df.columns):
    print('{} {}'.format(i, col))

0 Summons Number
1 Plate ID
2 Registration State
3 Plate Type
4 Issue Date
5 Violation Code
6 Vehicle Body Type
7 Vehicle Make
8 Issuing Agency
9 Street Code1
10 Street Code2
11 Street Code3
12 Vehicle Expiration Date
13 Violation Location
14 Violation Precinct
15 Issuer Precinct
16 Issuer Code
17 Issuer Command
18 Issuer Squad
19 Violation Time
20 Time First Observed
21 Violation County
22 Violation In Front Of Or Opposite
23 Number
24 Street
25 Intersecting Street
26 Date First Observed
27 Law Section
28 Sub Division
29 Violation Legal Code
30 Days Parking In Effect
31 From Hours In Effect
32 To Hours In Effect
33 Vehicle Color
34 Unregistered Vehicle?
35 Vehicle Year
36 Meter Number
37 Feet From Curb
38 Violation Post Code
39 Violation Description
40 No Standing or Stopping Violation
41 Hydrant Violation
42 Double Parking Violation

In [3]:
from openclean.function.eval.domain import IsNotIn

df = df\
    .select('Plate ID', 'Registration State', 'Plate Type', 'Meter Number', 'Street')\
    .where(IsNotIn('Meter Number', set({'-', ''})), limit=100)

In [4]:
df

      Plate ID Registration State Plate Type Meter Number            Street
656    FXY1858                 NY        PAS     407-3018       QUEENS BLVD
775    89988JX                 NY        COM         3  -    FRESH POND TRD
896    FGX2747                 NY        PAS     504-3043
2278   23161JR                 NY        COM     144-3942    WEST 42 STREET
2337   47153MC                 NY        COM     144-3987         W 40TH ST
...        ...                ...        ...          ...               ...
15234  52327MC                 NY        COM     143-5290           W 46 ST
15236  GDD5247                 NY        PAS     144-3955           W 41 ST
15237  GCG3058                 NY        PAS     144-3955           W 41 ST
15252  93552MB                 NY        COM     144-6713        WEST 43 RD
15270  89962JA                 NY        COM     143-5983  WEST 43RD STREET

[100 rows x 5 columns]